{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fitplace/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <title>FitPlace-Nutricion</title>
</head>
<body>
    <div class="header">
        <img src="{% static 'fitplace/img/logofit.png' %}" alt="fitPLaceLOGO" class="logo">
        <div style="margin-left: auto; margin-right: 20px;">
            <a href="{% url 'principal' %}"><img src="{% static 'fitplace/img/volver.png' %}" alt="volver.png" class="logo-volver"></a>
        </div>
    </div>
    <div class="body">
        <h1 class="title">NUTRICIÓN</h1>
        <div class="container">
          <div class="perfil">
              <div class="info">
                <div><img src="{% static 'fitplace/img/nutricion.png' %}" alt="" style="width: 150px; margin-left: 20px;"></div>
                  
                  <input type="text" placeholder="Calorias" id="Calorias" readonly><br>
                  <input type="text" placeholder="Grasas saludable" id="Grasas" readonly><br>
                  <input type="text" placeholder="Proteina" id="proteina" readonly><br>
                  <input type="text" placeholder="Carbohidratos" id="carbos" readonly><br>
                  <input type="text" placeholder="Vitaminas" id="fec_entrenamiento" readonly>
              </div>

          </div>

      </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body> 
</html>