{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fitplace/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

    <title>FitPlace-Objetivos</title>
</head>
<body>
    <div class="header">
        <img src=" {% static 'fitplace/img/logofit.png' %}"  alt="fitPLaceLOGO" class="logo">
        <div style="margin-left: auto; padding: 20px;"></div>
        <div>
            <a href="{% url 'perfil' %}"><img src=" {% static 'fitplace/img/volver.png' %}"  alt="volver.png" class="imgsalir"></a>
        </div>
            
    </div>
    <div class="body">
        <h1 class="title">OBJETIVOS</h1>
<div class="container my-4" style="max-width: 400px;">
    <form method="POST" action="{% url 'objetivos' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="objetivo" class="form-label text-white fw-bold">Selecciona tu objetivo:</label>
            <select name="objetivo" id="objetivo" class="form-select" required>
                <option value="" selected>-- Selecciona una opción --</option>
                <option value="Masa muscular">Masa muscular</option>
                <option value="Pérdida de grasa">Pérdida de grasa</option>
                <option value="Aumento de fuerza">Aumento de fuerza</option>
                <option value="Flexibilidad">Flexibilidad</option>
            </select>
        </div>
        <button type="submit" class="btn btn-dark w-100">Guardar objetivo</button>
    </form>
</div>


        <div class="logoculturista">
            <img src=" {% static 'fitplace/img/culturista.png' %}" alt="culturista.png">
        </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body> 
</html>