{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fitplace/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

    <script>
        function Alerta(){
            Swal.fire({
                title: "Buen trabajo!",
                text: "¡Se ha enviado un código a su correo para su recuperación!",
                icon: "success"
              });      
              setTimeout(() => {
                window.location.replace("{% url 'restablecerpass' %}");
              }, 3000);
            }
    </script>

    <title>FitPlace-RecuperarPass</title>
</head>
<body>
    <div class="header">
        <img src=" {% static 'fitplace/img/logofit.png' %}" alt="fitPLaceLOGO" class="logo">
        <div style="margin-left: auto; margin-right: 20px;">
            <a href="index.html"><button type="button"  class="btn btn-light">Volver</button></a>
        </div>
            
    </div>
    <div class="body">
        
        <div class="login">
            <div class="container">   
                <h1 class="title">RECUPERAR CONTRASEÑA</h1>         
                <form>
                    <label for="correo">Correo</label><br>
                    <input type="text" placeholder="Ingrese su correo" id="correo"><br>
                    <label for="pass">Código</label><br>
                    <input type="password" placeholder="Ingrese el código" id="code"><br>
                    <br>
                    <button onclick="Alerta()"  type="button" style="margin-left: 55px;" class="btn btn-dark">Enviar</button>

                </form>
            </div>
        </div>    

    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body> 
</html>