{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fitplace/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="icon" href="{% static 'fitplace/img/logofit-ico.ico' %}"  type="image/x-icon">

    <script>
        function Alerta(){
            Swal.fire({
                title: "Buen trabajo!",
                text: "¡Tu contraseña ha sido reestablecida exitosamente!",
                icon: "success"
              });      
              setTimeout(() => {
                window.location.replace("{% url 'login' %}");
              }, 3000);
            }
    </script>

    <title>FitPlace-RestablecerPASS</title>
</head>
<body>
    <div class="header">
        <img src=" {% static 'fitplace/img/logofit.png' %}" alt="fitPLaceLOGO" class="logo">
        <div style="margin-left: auto; margin-right: 20px;">
            <a href="{% url 'login' %}"><button type="button"  class="btn btn-light">Volver</button></a>
        </div>
            
    </div>
    <div class="body">
        <div class="login">
            <div class="container">   
                <h1 class="title">RESTABLECER CONTRASEÑA</h1>         
                <form method="post">
                {% csrf_token %}
                <label for="nueva_pass">Nueva Contraseña</label><br>
                <input type="password" id="nueva_pass" name="nueva_pass" placeholder="Nueva contraseña"><br>

                <label for="repetir_pass">Repetir Contraseña</label><br>
                <input type="password" id="repetir_pass" name="repetir_pass" placeholder="Repetir contraseña"><br>

                <button type="submit" class="btn btn-dark mt-3">Actualizar Contraseña</button>
                </form>
            </div>
        </div>    
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body> 
</html>