body{
    background-image: url(../img/fondo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: rgba(0, 0, 0, 0.7); 
    backdrop-filter: blur(8px); 
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: #ffffff;

}
.logo{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    width: 140px;

}

.login{
    display: flex;
    
    align-items: center;
    height: 100vh;          
}

.-container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: 0.7;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;       
    max-width: 00px;       
    background: rgba(255, 255, 255, 0.1);  
    backdrop-filter: blur(10px);          
    -webkit-backdrop-filter: blur(10px); 
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    gap: 1rem;
    opacity: 1; 
    margin: 100px auto; 
}


.imgsalir{
    width: 80px;
    height: 80px;
}

.logoculturista{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.btns{
    display: flex;
    justify-content:center ;
    align-items: center;
    margin-top: 30px;
}
.boton{
    margin-left: 10px;
}

.logo-volver{
    display: flex;
    width: 50px;
    margin-right: 30px;
    margin-right: 10px;
}

.img-user{
    display: flex;
    width: 70px;
    align-items: center;
}

.img-obj{
    display: flex;
    width: 90px;
}

.colores-botones{
    background-color: #3B82F6;
    color: white;
}

.perfil{
    display: flex;
    
}
.perfilFoto{
    margin-right: 30px;
}
.info{
    margin-left: 20px;
}
.check{
    margin-left: 10px;
}


table {
    
    width: 100%;
    text-align: center;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  input {
    width: 200px;
    padding: 5px;
    box-sizing: border-box;
  }

.borg{
    width: 400px;
}
.feedback{
    display: flex;
}

.heart-icon {
    font-size: 24px;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s ease;
}

.heart-icon.liked {
    color: red;
}

.chat-message {
    display: flex;
    margin-bottom: 10px;
}

.chat-message.left {
    justify-content: flex-start;
}

.chat-message.right {
    justify-content: flex-end;
}

.bubble {
    background-color: #f1f1f1;
    border-radius: 15px;
    padding: 10px 15px;
    max-width: 60%;
    word-wrap: break-word;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.chat-message.right .bubble {
    background-color: #d1e7dd; /* color para el usuario */
}