{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fitplace/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="icon" href="{% static 'fitplace/img/logofit-ico.ico' %}"  type="image/x-icon">
    <title>FitPlace-Retroalimentación-EliteFIT</title>
</head>
<body>
    <div class="header">
        <img src="{% static 'fitplace/img/logofit.png' %}" alt="fitPLaceLOGO" class="logo">
        <div><h1 style="color: #ffff;">EliteFIT</h1></div>
        <div style="margin-left: auto; margin-right: 20px; display: flex;">
            <a href="{% url 'rutinas' %}"><img src="{% static 'fitplace/img/volver.png' %}" alt="volver.png" class="logo-volver"></a>
        </div>
    </div>

    <div class="body">
        <h1 class="title">Retroalimentación</h1>

        <div class="container">
            <div style="display: flex;">
                <div class="feedback">
                    <img src="{% static 'fitplace/img/borg.png' %}" alt="escala de borg" class="borg">
                </div>
            </div>
        </div>

        <div class="container">
            <h3 style="color: #ffffff;">Según la escala de Borg...</h3>
            <h5 style="color: #ffffff;">¿Cómo se siente la intensidad de la rutina?</h5>
            <h5 style="color: #ffffff;">(Escriba el número que corresponda al nivel de intensidad)</h5>

            <form method="post" action="{% url 'guardar_retroalimentacion' %}">
                {% csrf_token %}
                <input type="number" name="intensidad" min="0" max="10" class="form-control mb-3" placeholder="Nivel de intensidad (0-10)" required>
                <button type="submit" class="btn btn-dark">Enviar</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>
